.main-container {
    width: 100%;
    height: calc(100% - 45px);
    display: flex;
    padding-top: 15px;
}

.main-container .left {
    height: 200px;
    width: calc(100% - 30%);
    overflow-y: scroll;
    transition: all 0.3s ease;
}

.main-container .left::-webkit-scrollbar {
    display: none;
}

.main-container .left .banner {
    height: 200px;
    background-image: url(../images/1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
    position: relative;
}

.main-container .left .banner .text-container {
    position: absolute;
    right: 20px;
    bottom: 20px;
    h1 {
        font-size: 3.5rem;
        color: #f1f1f1;
        font-weight: 600;
        margin: 5px 0;
    }
}

.main-container .right {
    width: calc(100% - 70%);
    height: 200px;
}